.training__app {
  @include f600-18-28;
  text-decoration: none;
  transition: opacity 0.5s;
}

.training__app:hover {
  opacity: 0.75;
}

@media screen and (max-width: $mobile-screen-max-width){
  .training__app {
    @include f(600, 1.4rem, 2rem, $bright, 1);
  }
}
