.footer__content {
  @include flex-column;
  padding-left: 12rem;
}

@media screen and (max-width: $mobile-screen-max-width){
  .footer__content {
    padding-left: 1.8rem;
    max-width: calc(100% - 1.8rem);
  }
}
