.menu__list {
  @include flex-row;
  padding: 28px 12rem 28px 0;
  margin: 0;
  justify-content: flex-end;
  gap: 34px;
  list-style: none;
}

.menu__mobile-popup-content .menu__list {
  display: block;
  @include flex-column;
  gap: 32px;
  padding: 144px 0 0;
}

@media screen and (max-width: $mobile-screen-max-width) {
  .menu__list {
    display: none;
  }
}
