.bicycle-image-block__image {
  width: 100%;
  max-width: 340px;
  max-height: 340px;
  box-sizing: border-box;
}

@media screen and (max-width: $mobile-screen-max-width) {
  .bicycle-image-block__image {
    box-sizing: content-box;
    width: 100% - 5.89% * 2;
    padding: 5.89%;
    padding-bottom: 4px;
  }
}
