.bicycle-image-block__image-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  border-radius: 20px;
  -webkit-filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
}

.bicycle-image-block__image-container:hover {
  -webkit-filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.11));
          filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.11));
}

@media screen and (max-width: $mobile-screen-max-width){
  .bicycle-image-block__image-container {
    width: 100%;
    -webkit-filter: none;
            filter: none;
  }
  .bicycle-image-block__image-container:hover {
    -webkit-filter: none;
            filter: none;
  }
}