.menu__mobile-menu {
  @include button-nullification;
  display: none;
  padding-top: 28px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.menu__mobile-menu:hover {
  opacity: 0.6;
}

@media screen and (max-width: $mobile-screen-max-width) {
  .menu__mobile-menu {
    @include flex-column;
    gap: 5px;
    padding-right: 18px;
  }
}
