$background-main: #f4f4f4;
$background-footer: #efefef;
$background-dark-main: #333333;
$background-dark-footer: #2f2f2f;
$bright: #151515;
$dim: lighten($bright, 0.5%);
$bright-dark: #ffffff;
$dim-dark: #e5e5e5;
$mobile-screen-max-width: 640px;
