.big-img__bycicle-name {
  @include f400-18-18;
  grid-column: 2;
  grid-row: 8;
  position: relative;
  margin: 0;
}

.big-img__bycicle-name::after {
  position: absolute;
  color: red;
  left: 21.4rem;
  top: 0.9rem;
  width: 13.2rem;
  height: 2px;
  background-color: #d7d4d4;
  content: "";
}

@media screen and (max-width: $mobile-screen-max-width) {
  .big-img__bycicle-name {
    display: none;
  }
}
